# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Deploy to Production
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to Production
    runs-on: ubuntu-latest
    concurrency: deploy-prod
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --config fly.prod.toml --build-arg ENV=prod --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
